  .SearchResultCard {
      display: flex;
      align-items: left;
      gap: 8px;
      width: 100%;
      padding-left: 0px;
      padding-top: 8px;
      padding-bottom: 8px;
      border: none;
      border-radius: 8px;
      background-color: #fff;
      font-family: cabin, sans-serif;
    }

  .SearchResultCard:hover {
    background-color: none;
  }

  .SearchResultCard:active {
    background-color: none;
  }
  
  .authorAvatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .cardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  
  .textContent {
    display: flex;
    flex-direction: column;
  }
  
  .cardTitle {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-align: left;
    color: #333333
  }
  
  .cardAuthor {
    margin-top: 0rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: #666666;
    text-align: left;
  }
  
  .cardDate {
    font-size: 12px;
    font-weight: 700;
    color: #666666;
    white-space: nowrap;
    line-height: 24px;
    justify-content: left;

  }
  