.container {
  width: 220px; /* Adjust as you see fit */
  background-color: white;
  border: 1px solid #EFEFEF;
  border-radius: 12px;
  padding: 16px;
  padding-bottom: 8px;
  font-family: sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

}

.heading {
  margin: 0 0 16px 0;
  font-size: 20px;
  font-family: cabin;
  font-weight: 700;
  color: #333;
}

.actionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actionItem {
  margin-bottom: 8px;
}

.actionButton {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DFDFDF;
  border-radius: 12px;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  text-align: left;
}

.actionIcon {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  flex-shrink: 0;
}

.actionLabel {
  font-size: 14px;
  font-weight: 700;
  font-family: cabin;
  color: #131313;
  white-space: nowrap;
}

.actionButton:hover {
  background-color: #E6E6E6;
}

.actionButton:active {
  background-color: #CCCCCC;
}

.actionButton:disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
    color: #585858;

  }
  