.siteheader {
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    opacity: 0.975;
    width: 100%;
    border-bottom: 1px solid #D7D7D7;
    position:fixed ;
    z-index: 1000;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding: 8 16px;
    height: 49px;
  }
  
  .brand {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
  }
  
  .navactions {
    display: inline-flex;
    align-items: center;
    gap: 16px;
  }
  