.textInput {
  display: block;
  width: 100%;
  padding: 12px 12px;
  font-size: 16px;
  border-right: none; /* So it merges neatly with the button */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 6px;
  border: 1px solid white;
  outline: none;
  background-color: #fff;
  color: #585656;
  font-family: cabin;
  font-feature-settings: "calt" 0, "dlig" 0;
  font-variant-alternates: none;
  transition: background-color 0.15s ease, border-color 0.15s ease;
  text-transform: none;
}

/* When the input has been touched (i.e. placeholder is hidden) and the content is invalid */
.textInput:invalid:not(:placeholder-shown) {
  border: 1px solid red;
}

.textInput:hover {
  background-color: #F2F2F2;
  /* Using border-color here since we have a transition on border-color */
  border-color: #F2F2F2;
}

.textInput:focus {
  background-color: #ffffff;
  border: 1px solid #222222;
}
