.Xlink{
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 8px ;
  width: 160px;
  font-size: 12px;
  line-height: 1.4;
  color: #333333;
  background-color: white;
  font-weight: 600;
  border-radius: 4px;
  font-family: cabin;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Xlink:hover {
background-color: #E6E6E6;
}

.Xlink:active {
  background-color: #CCCCCC;
  }


