.timeAgo {
    /* Default gradient */
    background-color: transparent;
    border: none;
    border-radius: none;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: cabin, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  
