.menuButton {
  background-color: #2f54eb;
  border: none;
  border-radius: 8px;
  padding: 0;
  padding: 12px 12px 12px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.menuButton:hover {
  background-color: #3A70F3;
}

.menuButton:active {
  background-color: #0D3AC2;

}

.menuButton:disabled {
    background-color: #C1C9E6;
}

.moreIcon {
padding-top: 4px;
padding-bottom: 4px;
height: 12px;
width: 12px;
}

.wrapper {
  position: relative;       /* establish a positioning context */
  display: inline-block;    /* shrink‐wrap to contents if you like */
}

.dropdown {
  position: absolute;
  top: 100%;                /* right below the button */
  right: 0;                 /* align with the right edge */
  margin-top: 4px;          /* tiny gap */
  z-index: 10000;             /* above other content */
  /* you can also set a background, border, shadow, etc */

}

