.timeAgo {
    /* Default gradient */
    background-color: transparent;
    border: none;
    border-radius: none;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: cabin;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: flex-end;
  }
  
