.activityButton {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 4px;         
    background: none;
    border: none;
    padding: 3.5px 8px;
    border-radius: 4px;
    color: #3a3a3a;
    font-family: cabin;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.15s ease, color 0.15s ease;
  }
  
  .activityButton:hover {
    background-color:#F2F2F2;
    color: #656565;              
  }
  
  .activityButton:active {
    background-color: #F2F2F2;
    color: #8D8C8C;
    border: none;

  }
  
  .icon {
    width: 24px;
    height: 12.5px;
  }
  
  .label {
    font-size: 12.4px;
  }