.Title {
    background-color: transparent;
    border: none;
    border-radius: none;
    outline: none;
    cursor: cursor;
    color: #333333;
    font-family: cabin, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    text-transform: capitalize;
    max-width: 600px;
    text-align: left;
  }
  
