/* src/components/Header/Header.module.css */
.header {
  width: 100%;
  padding: 16.5px 56px 16px 48px;            /* horizontal gutter */
  background-color: #ffffff;     /* black bar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #D7D7D7;
}

.logoWrapper {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;               /* scale so it fits nicely */
  object-fit: contain;
}
