/* HamburgerMenu.module.css */
.hamburgerButton {
  background-color: transparent;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  color: #333333;
}

.hamburgerButton:hover {
  background-color: #f1f1f1;
}

.hamburgerButton:active {
  background-color: #E6E6E6;
}

.hamburgerIcon {
  display: block;
  color: #333;
}
