/* src/components/UserProfileCard/UserProfileCard.module.css */

.card {
  display: flex;
  align-items: left;
  gap: 16px;         
  flex-direction: row;
  height: auto;
  width: 650px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 0.5px solid #CCCCCC;
}

.feedImage {
    height: 88px;
    width: 88px;
    object-fit: cover;
    border-radius: 8px;
}