.chatnowButton {
  background-color: #154FE3;
  border: none;
  border-radius: 8px;
  padding: 8px 40px 8px 40px;
  width: 250px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: cabin, sans-serif;
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .chatnowButton {
    width:100%
  }
}

.chatnowButton:hover {
  background-color: #3A70F3;
}

.chatnowButton:active {
  background-color: #0D3AC2;
}

.chatnowButton:disabled {
  background-color: #C1C9E6;
}