.dropdown {
  position: relative;
  display: inline-block;
  font-family: sans-serif;
  margin-bottom: 400px;
  padding: 8 8 8 8;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 4px;
  min-width: 160px;
  margin-top: 4px;
  z-index: 100;
  overflow: hidden;
}

.divider {
  height: 1px;
  background-color: #ececec;
  margin: 4px 0;
}
