.feedCardContainer {
  display: flex;            
  flex-direction: row;       
  align-items: flex-start;   
  gap: 8px;                 
  height: 115px;
}

.imageContainer {
  cursor: pointer;
}

.feedImage {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
}
.feedImage:hover {
  box-shadow: 0px 2px 4px 2px #0000001a;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;                  
}
