.feedCardContainer {
  display: flex;             /* Place the image on the left, text on the right */
  flex-direction: row;       /* Horizontal alignment */
  align-items: flex-start;   /* Top-align the items */
  gap: 8px;                 /* Space between the image and the text block */
  height: 115px;
}

/* Image Container (optional, can be used for advanced styling) */
.imageContainer {
  cursor: pointer;

}

/* Example styles for the image */
.feedImage {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;

}
.feedImage:hover {

  box-shadow: 0px 2px 4px 2px #0000001a;

}

/* Text Container (title on top, description below) */
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;                  /* Title and description are separated by 8px */
}
