.Title {
    background-color: transparent;
    border: none;
    border-radius: none;
    outline: none;
    cursor: pointer;
    color: #333333;
    font-family: cabin, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    transition: background 0.2s ease-in-out;
    max-width: 262px;
    height: auto;
    text-align: left;
  }
  
  .Title:hover {
    color: #222222;
}

  .Title:active {
    color: #0f0f0f;
}
  