.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 0px; 
}

.tab {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  width: 180px;
  padding: 12px 22px 12px 12px;
  width: 175px;
  height: 48px;
  cursor: pointer;
  color: #363636;
  font-family: cabin, sans-serif;
  font-weight: 600;
  line-height: 18px;
  font-size: 16px;
  text-align: left;  
  transition: background-color 0.2s ease-in-out;
}



.tab:active {
  background-color: #CCCCCC;
}

.tab:disabled {
  background-color: #C1C9E6;
}
.active {
  background-color: #CCCCCC;
}