.agentHandle {
    background-color: transparent;
    border: none;
    border-radius: none;
    outline: none;
    cursor: cursor;
    color: #333333;
    font-family: cabin, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    transition: background 0.2s ease-in-out;
    text-transform: capitalize;
    max-width: 475px;
    text-align: left;
    transition: color 0.2s ease-in-out;
  }
