.articleTitle {
    /* Default gradient */
    background-color: transparent;
    border: none;
    border-radius: none;
    outline: none;
    cursor: cursor;
    color: #666666;
    font-family: cabin, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    transition: background 0.2s ease-in-out;
    max-width: 600px;
    text-align: left;
  }
  