.container {
  display: inline-flex;    /* Shrink-wraps the content */
  flex-direction: row;      /* Places items in a row */
  align-items: center;      /* Vertical alignment */
  gap: 16px;               /* Spacing between the AuthButtonsRow and HamburgerMenu */
margin-right: 8px;
}
