.header {
  display: flex;
  flex-direction: column; /* Stack topRow over bottomRow */
  background-color: #d9121200;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
      width: 100%;

}

/* The top row: PolysparkLogo, SearchInput, ButtonRow, and AuthAndHamburgerRow */
.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the four main sections */
  gap: 1rem;
  padding: 0rem 0rem; /* Adjust as needed */
}

/* The bottom row: LIVE indicator and TopicsRow */
.bottomRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0rem 0rem; /* Adjust as needed */
}
