.image {
    display: inline-flex;               /* hug content width */
    align-items: center;
    gap: 16px;
    padding: 4px 8px 4px 4px;
    border-radius: 22px;
    color: #666;      
    margin-right: 24px;                  /* arrow colour via currentColor */

  }
  
  .image:hover {
    background-color: #f2f2f2;
  }
  
  /* Avatar */
  .image img {
    object-fit: contain;
    border-radius: 1rem;
  }
  
  /* Arrow */
  .svg {
    transform: rotate(90deg);
    transition: transform 0.4s ease;
    color: #666666
  }
  
  .image:hover .svg {
    transform: rotate(-90deg);          /* 180° flip */
    color: #333333
  }
  