.loginButton {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  width: 132px;
  padding: 8px 16px;
  width: 286px;
  cursor: pointer;
  color: #333333;
  font-family: cabin, sans-serif;
  font-weight: 700;
  line-height: 1.35;
  font-size: 14px;
  text-align: center;
}
.loginButton:active {
  box-shadow: 0 3px 6px rgba(130, 130, 130, 0.15);

}





