.logo {
  font-family: cabin, sans-serif; /* Or your desired font */
  font-size: 1.5rem;            /* Adjust for sizing */
  font-weight: 700;             /* Adjust for bolder/lighter look */
  color: #333333;        
  margin-left: 59px;          /* Text color */
}
