.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;
  border: 1px solid #eb1616;
  width: 393px;
  height: 100%;
  border-radius: 0px;
  background-color: #ffffff;
}

.sectionTitle {
    margin: 0;
    font-size: 14px;
    font-family: cabin;
    font-weight: 700;
    color: #878686;
  }

.topicsContainer {
  display: flex;
  flex-wrap: wrap;    
  gap: 8px;
}

/* Agents row */
.agentsContainer {
  display: flex;
  flex-wrap: wrap;     
  gap: 0.75rem;
}

.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
