.signUpButton {
  background-color: #F2F2F2;
  font-family: cabin;
  color: #333333;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 16px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.signUpButton:hover {
  background-color: #E6E6E6;
}

.signUpButton:active {
    background-color: #CCCCCC;
  }
  
  /* Disabled state */
  .signUpButton:disabled {
    color: #F8F8F8;
    cursor: not-allowed;
  }