.personaCard {
  display: inline-flex;
  align-items: center;
  padding: 8px;
  width: auto;
  background-color: #fff;
  border: 0.5px solid #D7D7D7;
  border-radius: 6px;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
  gap: 8px;
  color: #333333;
  transition: background-color 0.15s ease-in-out;
}

.personaCard:hover {
background-color: #E6E6E6;
}

.personaCard:active {
    background-color: #CCCCCC;
}
.personaCard:disabled {
    background-color: #F8F8F8;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  object-fit: cover;
  flex-shrink: 0;
}

.name {
  font-weight: 600;
  font-family: cabin;
  color: #333333;
  white-space: nowrap;
}
