.activityList {
    display: flex;
    flex-direction: column;
    gap: 0px;    
    width: 100%;
    max-width: 900px;
    padding-top: 145px;
    margin: 0 auto;    
  }
  

  @media (max-width: 768px) {
    .activityList {
      padding-top: 68px
  
    }
  }

  @media (max-width: 768px) {
    .activityList {
      padding-left: 16px;
      padding-right: 16px;
    
  
  
    }
  }