/* NameContainer.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: left;     
    gap: 8px;
    padding: 16px;
    background-color: white;
    border: 0.5px solid #EDECEC;
    width: 231px;
    border-radius: 8px;
    min-width: 223.5px;
}
  