/* PersonaName.module.css */
.container {
  display: flex;
  align-items: center;
  /* optional spacing between icon & text: */
  gap: 4px;
}

.icon {
  /* if you need to tweak vertical alignment or size: */
  display: block;
}

.text {
  font-size: 18px;
  font-family: cabin;
  line-height: 22.5px;
  color: #333333;
  font-weight: 700;
}
